@media (min-width: 768px) { 
    .container{
        background: #FFF;
    }
    h3{
    color: #343C6A;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    }
    section{
        background-color: #FFF;
    }
    .cardCarousel {
        width: 430px;
    }

 }
