.ewallet-container {
  width: 100%;
  height: 100%;
}

.contacts-wrapper::-webkit-scrollbar {
  height: 4px;
}

.contacts-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.contacts-wrapper::-webkit-scrollbar-thumb {
  background: #dfe5ee;
  border-radius: 10px;
}
