.my-cards-container {
  width: 100%;
}

.card {
  height: 180px;
}

.cards-wrapper::-webkit-scrollbar {
  height: 4px;
}

.cards-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  background: #dfe5ee;
  border-radius: 10px;
}
