.section, .nav-container{
    width: 100%;
}
.navheader{
    font-size: 30px;
}
.navbar{
    display: flex;
    flex-direction: column;
}
.navbar{
    max-width: 250px;
    height: 100vh;
    background: #FAFBFF;
    gap: 1rem;
}

.nav-items{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.nav-active{
    border-style: solid;
    border-left-width: 3px;
    border-radius: 0px 60px 60px 0px;
    border-color: #2D60FF;
}
li.flex{
    padding-left: 2.2rem;
}
.logo{
    padding: 1rem;
}
.showMenuNav{
    z-index: 10;
    background-color: #FFF;
}
.heading{
    padding: 0;
}