@media (min-width: 768px) { 
.right{
    align-items: center;
    gap: 1rem;
}
.left {
    color: var(--Primary-2, #343C6A);

    /* Heading one Semibold 28p */
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
}
.navH {
    min-width: 100%;

}
h3{
    font-size: ;
}
}