@media (min-width: 768px) { 
.right{
    align-items: center;
    gap: 1rem;
}
.left {
    color: var(--Primary-2, #343C6A);

    /* Heading one Semibold 28p */
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left > h3 {
    font-size: clamp(25px,30px, 35px);

}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    padding: 1rem 1.5rem 1rem 0rem;
}
.navH {
    min-width: 100%;

}
h3{
    font-size: minmax(24px, 28px);
}
.search{
    width: minmax(200px, 325px);
    height: minmax(30px, 40px); 
}
}