#root{
    min-height: 100vh;
    font-family: 'Inter';

    color: black;
}
.app{
    display: grid;
    grid-template-columns: auto 1fr;
}
.outlet{
    display: grid;
    grid-template-rows: auto 1fr;
}